.layoutItem {
  position: relative;
}

.layoutImage {
  @extend .mBS;
}

.layoutLink {
  @extend .link;
}

.layoutDropdownMenu {
  position: absolute;
  inset: 0 0 auto auto;
  z-index: 10 !important;
  padding: var(--default-space);

  .dropdownMenuOpened & {
    z-index: 11 !important;
  }
}

.listLayout {
  .layoutItem {
    @extend .trackRow;

    gap: var(--space-8);
    align-items: center;
    padding: var(--default-space);
  }

  .layoutImage {
    --track-width-height: var(--track-width-height-default);

    flex: 1;
    width: 100%;
    min-width: var(--track-width-height);
    max-width: var(--track-width-height);
    max-height: var(--track-width-height);
    aspect-ratio: 1;
    padding: 0;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: var(--border-radius-medium);
  }

  .layoutDropdownMenu {
    position: unset;
    padding: 0;
    margin-left: auto;
    opacity: 1;
  }

  .hideOnListLayout {
    display: none;
  }
}
