.skeletonLoader {
  display: block;
  overflow: hidden;

  &::after {
    position: absolute;
    inset: 0;
    z-index: 1;
    height: var(--width-height-100);
    content: '';
    background: linear-gradient(
      90deg,
      transparent,
      var(--border-color),
      transparent
    );
    opacity: 0.35;
    transform: translateX(-100%);
    animation: skeleton-loader 2s infinite;
  }
}

@keyframes skeleton-loader {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}
