.overlapWrapper {
  display: grid;
  flex-shrink: 0;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.overlap {
  z-index: 0;
  display: grid;
  grid-row-start: 1;
  grid-column-start: 1;
  align-items: center;
  justify-content: center;
}
