:root {
  --h1-font-size: clamp(1.875rem, 1.6142rem + 0.9934vw, 2.25rem);
  --h2-font-size: clamp(1.5rem, 1.2392rem + 0.9934vw, 1.875rem);
  --h3-font-size: clamp(1.25rem, 1.0762rem + 0.6623vw, 1.5rem);
  --h4-font-size: clamp(1.125rem, 1.0381rem + 0.3311vw, 1.25rem);
  --body-font-size: clamp(1rem, 0.9131rem + 0.3311vw, 1.125rem);
  --small-font-size: clamp(0.875rem, 0.7881rem + 0.3311vw, 1rem);

  /* Font weight. */
  --font-weight-normal: 400;
  --font-weight-bold: 500;

  /* Line height. */
  --line-height: 1;
  --line-height-medium: 1.5;

  /* Letter spacing. */
  --letter-spacing: 0.025rem;
  --letter-spacing-normal: normal;

  /* Font family. */
  --font-family: 'Barlow', sans-serif;
}
