:root {
  /* Inner gap.  */
  --inner-gap: 6vw;

  /* Max screen size width. */
  --max-width: 80rem;

  /* Header height. */
  --header-height: 65px;

  /* Media Player. */
  --media-player-height: 75px;
  --queue-image-width-height: 45px;
}
